.card {
  width: 18rem;
}

// RESPONSIVE
// mobile M 320px to mobile L 425px
@media only screen and (max-width: 320px) {
  .card {
    width: 17rem !important;
    margin: 0.7rem;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    width: 17.5rem !important;
    margin: 0.7rem;
  }
}

@media only screen and (max-width: 425px) {
  .card {
    width: fit-content;
    margin: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 19rem;
    margin: 0.7rem;
  }
}
